.logo{
   
  border-radius: 60%;
  width: 10vw; 
  height: 17vh;
 
}
.logo:hover{
  transform: scale(1.1);
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
  margin: 0%;
  border-style: none;
  
}

Nav.Link{
  font-size: xx-large;
}
  
