*{
  /* font-family: 'Ranchers', cursive; */
  font-family: 'Luckiest Guy', cursive;
  color: black;
  
}
body{
  display: flex;
  justify-self: center;
  align-items: center;
}

nav{
  
  
}



/* Mobile  */
@media screen and (max-width: 480px){
  .treat-card{
    height: 10vh;
    width: 25vw;
  }
  .img{
    background: cover;
    height: 15vh;
    width: 15vw;
   
  }
  .card-container{
    padding: 5%;
  }
  
  .cards-box{
    display: grid;
    grid-template-columns: repeat(3, 16%);
    border-radius: 10px;
    gap: 8%;
    padding-bottom: 15px;
  
  }
}

/* Extra small devices  */
@media (min-width: 481px) and (max-width: 767px){
  .card-container{
    padding: 5%;
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 27%);
    border-radius: 10px;
    padding: auto;
    gap: 5%;
    
  }
  .treat-card{
    height: auto;
    width: 28vw;
  }

  .img{
    background: cover;
  
  }

}

/* Small Tablets */
@media (min-width: 768px) and (max-width: 991px){
  .card-container{
    padding: 5%;
  }
  .cards-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 29%);
    border-radius: 10px;
    gap: 8%;
    border-style:hidden;
  }
  .treat-card{
    height: auto;
    width: 28vw;
  }

}

/* Large Tablets  */
@media (min-width: 992px) and (max-width: 1199px){
  .card-container{
    padding: 5%;
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    border-radius: 10px;
    gap: 5%;
    border-style:hidden;
    
  }
  .treat-card{
    height: auto;
    width: 28vw;
  }
}



/* Destoks */
@media (min-width: 1200px) and (max-width: 1919px){
  .card-container{
    padding: 5%;
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    border-radius: 10px;
    gap: 5%;
    border-style:hidden;
    
  }

}

/* Extra Large Screens */
@media (min-width: 1920px) {
  .card-container{
    padding: 5%;
  }
  .cards-box{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    border-radius: 10px;
    gap: 5%;
    border-style:hidden;
   
  }

}