*{
  /* font-family: 'Ranchers', cursive; */
  font-family: 'Luckiest Guy', cursive;
  color: black;
  
}
body{
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 500px){
  .treat-card{
    height: 0vh;
    width: 20vw;
  }
  .img{
   
  }
  cards-container{
    margin-top: 5%;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    border-radius: 10px;
    gap: 5%;
    border-style:hidden;
  }
}

